body {
  height: 100vh;
  background-color: rgb(136, 55, 4);
}

/* Schedule */

.scheduleContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.scheduleContainer .schedule {
  display: flex;
  margin: auto;
}

.scheduleContainer .schedule .dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduleContainer .schedule .dayContainer p {
  font-weight: 700;
}

.scheduleContainer .schedule .dayContainer .timeSlot {
  background-color: blue;
  border-right: solid black 1px;
  height: 5px;
  width: 90px;
}

.scheduleContainer .schedule .dayContainer .timeSlot.lesson {
  background-color: rgb(166, 34, 49);
}
